body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #1f1f1f;
  border-bottom: 2px solid #333;
}

header h1 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
}

header h2 {
  font-size: 1rem;
  color: #cccccc;
  margin-bottom: 1rem;
}

.en {
  color: #8bc7ff;
  display: block;
  margin-top: 2px;
  font-style: italic;
}

.download-btn {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.social-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  color: #00aaff;
  text-decoration: none;
  font-weight: bold;
}

.cv-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  padding: 2rem;
}

.box {
  background-color: #1f1f1f;
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.box h3 {
  color: #00aaff;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.3rem;
}

h4 {
  margin-top: 1rem;
  color: #66c2ff;
}

ul {
  padding-left: 1rem;
}

ul li {
  margin-bottom: 0.4rem;
}

footer {
  text-align: center;
  padding: 1.2rem;
  background-color: #1f1f1f;
  color: #aaa;
  border-top: 2px solid #333;
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  .cv-container {
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 1.5rem;
  }
}

